---
import { getEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import PricingSection from "@/components/pricing-section.astro";

const page = await getEntry("pages", "pricing");
if (!page) throw new Error("Missing pages/pricing.md");
const { title, description, plans } = page.data;
---

<Layout title={title}>
  <Container>
    <Sectionhead>
      <span slot="title" data-editable="text" data-prop="title">{title}</span>
      <span slot="desc" data-editable="text" data-prop="description">{description}</span>
    </Sectionhead>

    <editable-component data-component="pricing" data-prop="plans">
      <PricingSection {...plans} />
    </editable-component>
  </Container>
</Layout>
