---
import { getEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import PricingCard from "@/components/pricing.astro";

const page = await getEntry("pages", "pricing");
if (!page) throw new Error("Missing pages/pricing.md");
const { title, description, plans } = page.data;
---

<Layout title={title}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">{title}</Fragment>
      <Fragment slot="desc">{description}</Fragment>
    </Sectionhead>

    <div
      class="grid md:grid-cols-3 gap-10 mx-auto max-w-(--breakpoint-lg) mt-12"
      data-editable="array"
      data-prop="plans">
      {plans.map((item) => (
        <div data-editable="array-item">
          <editable-component data-component="pricing-card" data-prop="">
            <PricingCard plan={item} />
          </editable-component>
        </div>
      ))}
    </div>
  </Container>
</Layout>
