---
interface Props {
  enable: boolean;
  text: string;
  link_text: string;
  link_url: string;
  expire_days: number;
}

const { enable, text, link_text, link_url } = Astro.props;
---

{enable && text && (
  <div class="relative z-999 bg-body dark:bg-darkmode-body shadow-[1px_0_10px_7px_rgba(154,154,154,0.11)] px-4 py-4 pr-12 md:text-lg transition-all duration-300">
    <p class="text-center">
      {text}{" "}
      {link_text && link_url && (
        <a class="underline" href={link_url} target="_blank" rel="noopener">
          {link_text}
        </a>
      )}
    </p>
    <button
      class="absolute top-1/2 right-4 -translate-y-1/2 cursor-pointer flex items-center justify-center w-7 h-7 border border-border dark:border-darkmode-border rounded-full text-xl transition-colors duration-200"
      aria-label="Close announcement"
    >
      &times;
    </button>
  </div>
)}
