---
import { Heading } from 'accessible-astro-components'
import { Media } from 'accessible-astro-components'

interface Props {
  imgSrc?: string
  image?: string
  reverseImg?: boolean
  reverse_image?: boolean
  heading?: string
  content?: string
}

const props = Astro.props
const imgSrc = props.image ?? props.imgSrc
const reverseImg = props.reverse_image ?? props.reverseImg ?? false
---

<section class="my-64">
  <div class="container">
    <div class="grid grid-cols-1 gap-24 md:grid-cols-2">
      {!reverseImg && imgSrc && (
        <div data-editable="image" data-prop-src="image">
          <Media class="rounded-lg" src={imgSrc} />
        </div>
      )}
      <div class="space-content flex flex-col justify-center">
        {props.heading && (
          <Heading level="h2"><span data-editable="text" data-prop="heading">{props.heading}</span></Heading>
        )}
        {props.content && (
          <p class="text-2xl" data-editable="text" data-prop="content">{props.content}</p>
        )}
        <slot />
      </div>
      {reverseImg && imgSrc && (
        <div data-editable="image" data-prop-src="image">
          <Media class="rounded-lg" src={imgSrc} />
        </div>
      )}
    </div>
  </div>
</section>
