---
interface Props {
  count?: string | number
  title?: string
  subtitle?: string
  sub?: string
}

const { count, title, subtitle, sub } = Astro.props
const displaySub = subtitle ?? sub
---

<div class="animate text-center">
  <p class="text-6xl font-bold" data-editable="text" data-prop="count">{count}</p>
  <p class="text-4xl font-semibold" data-editable="text" data-prop="title">{title}</p>
  {displaySub && <p class="text-2xl" data-editable="text" data-prop="subtitle">{displaySub}</p>}
</div>

<style lang="scss">
  div > p:first-child {
    color: var(--link-color);
  }
</style>
