---
import { AccordionItem } from 'accessible-astro-components'

interface Props {
  title: string
  content: string
  open?: boolean
}

const { title, content, open = false } = Astro.props
---

<AccordionItem name="exclusive" title={title} open={open}>
  <p data-editable="text" data-prop="content">{content}</p>
</AccordionItem>
