---
import { Heading, Link } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

interface Props {
  title?: string
  description?: string
  link_text?: string
  link_href?: string
}

const { title, description, link_text, link_href } = Astro.props
---

<div class="flex flex-col items-start gap-4">
  {title && <Heading level="h2"><span data-editable="text" data-prop="title">{title}</span></Heading>}
  {description && <p class="text-2xl" data-editable="text" data-prop="description">{description}</p>}
  {link_text && link_href && (
    <Link href={link_href} isButton type="primary" animateOnHover animationType="boop">
      <Icon aria-hidden="true" name="lucide:headset" size="1.5rem" />
      <span data-editable="text" data-prop="link_text">{link_text}</span>
    </Link>
  )}
</div>
