---
import { Card, Heading, Link } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
import { getCollection } from 'astro:content'

import postImage1 from '@assets/images/posts/post-image-1.png'
import postImage2 from '@assets/images/posts/post-image-2.png'
import postImage3 from '@assets/images/posts/post-image-3.png'

interface Props {
  class?: string
  limit?: number
  title?: string
}

const { class: className, limit = 3, title = 'Latest posts' } = Astro.props

const postImages = [postImage1, postImage2, postImage3]

const posts = await getCollection('blog', ({ data }) => !data.draft)
const sorted = posts
  .sort((a, b) => {
    const dateA = a.data.date ? new Date(a.data.date).getTime() : 0
    const dateB = b.data.date ? new Date(b.data.date).getTime() : 0
    return dateB - dateA
  })
  .slice(0, limit)
---

<section class:list={[className, 'my-64']}>
  <div class="container">
    <Heading level="h2" class="mb-6">{title}</Heading>
    <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
      {
        sorted.map((post, index) => (
          <Card
            imageComponent={postImages[index % postImages.length]}
            url={'/blog/' + post.id}
            headingLevel="h2"
            title={post.data.title}
            footer={post.data.author ? 'By ' + post.data.author : undefined}
          >
            {post.data.description}
          </Card>
        ))
      }
    </div>
    <div class="mt-12">
      <Link href="/blog/" isButton animateOnHover animationType="nudge">
        Read all posts
        <Icon aria-hidden="true" name="lucide:arrow-right" size="1.5rem" />
      </Link>
    </div>
  </div>
</section>
