---
import PricingCard from "@/components/pricing.astro";

const plans = Object.values(Astro.props) as Record<string, any>[];
---

<div
  class="grid md:grid-cols-3 gap-10 mx-auto max-w-(--breakpoint-lg) mt-12"
  data-editable="array"
  data-prop="">
  {plans.map((plan) => (
    <div data-editable="array-item">
      <PricingCard {...plan} />
    </div>
  ))}
</div>
